<!DOCTYPE html>
<html class="no-js">
  
  @@include('partials/_head.html', {
    "title": "Detalhes"
  })

  <body id="details">
    <!--[if lt IE 8]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->

    <div id="header">
      <div id="map-canvas"></div>
      <div class="content">
        <h2>Localização</h2>
        <div class="divider"></div>
        <p>
          A cerimônia será realizada na <br/><strong>Igrejinha de São Pedro </strong>
          <address>Rua Zé Melancia - Canoa Quebrada - (CE)</address>
        </p>
        <p>
          A recepção será realizada no Restaurante <strong>La Trattoria</strong>
          <address>Rua da Broadway - Canoa Quebrada - (CE)</address>
        </p>
      </div>
    </div>
    
    <nav>
      <ul>
        <li id="menunav">
          <a id="homenav" href="/">O Casal</a>
        </li>
        <li id="menunav">
          <a id="rsvpnav" href="/rsvp">RSVP</a>
        </li>
        <li id="menunav">
          <a id="detailsnav" class="active" href="/detalhes">Detalhes</a>
        </li>
        <li id="menunav">
          <a id="registrynav" href="/presentes">Presentes</a>
        </li>
        <!--li id="menunav">
          <a id="live" href="/video">Video</a>
        </li-->
      </ul>
    </nav>

    <section>
      <div class="wrapper">
        <div class="left-title">
          <h3 class="center">Dia</h3>
        </div>
        <div class="twocol"> 
          <h3>Sábado 13 de Junho de 2015</h3>
        </div>
      </div>
    </section>

    <section>
      <div class="wrapper">
        <div class="left-title">
          <h3 class="center">
            <span>Horário</span>
            <span>&amp;</span>
            <span>Local</span>
          </h3>
        </div>
        <div class="twocol">
          <h3>15:00</h3><p>Celebração na Igrejinha de São Pedro</p>
          <h3>16:00</h3><p>Coquetel no Restaurante La Trattoria</p>
          <h3>19:00</h3><p>Jantar no Restaurante La Trattoria</p>
        </div>
      </div>
    </section>

    <section>
      <div class="wrapper">
        <div class="left-title">
          <h3 class="center">
            <span>Dress </span>
            <span>Code</span>
          </h3>
        </div>
        <div class="twocol">
          <h3>Tenue de Ville</h3>
          <p>
            Algumas inspirações para
          </p>
          <p>
            <a href="https://www.pinterest.com/akaholiveira/esporte-fino-para-homens/">Homens</a> &middot;
            <a href="https://www.pinterest.com/akaholiveira/esporte-fino-para-mulheres/">Mulheres</a>
          </p>
        </div>
      </div>
    </section>

    <section class="title">
      <img alt="canoa" class="stretch" src="images/canoa-quebrada.jpg"/>
    </section>

    <section>
      <div class="wrapper">
        <div class="twocol">
          <p><strong>Canoa Quebrada</strong> teve sua origem em 1650, a antiga vila de pescadores é localizada no município de Aracati, a apenas 165 km ao leste de Fortaleza. Canoa Quebrada transformou-se num ponto turístico em meados dos anos 70, quando um grupo de hippies se apaixonou pela beleza paradisíaca e a hospitalidade dos nativos que habitavam a vila.</p>
        </div>
        <div class="twocol"> 
          <p>
            <strong>O que fazer em Canoa:</strong>
          </p>
          <ul>
            <li>Duna do Pôr do sol</li>
            <li>Passeio de buggy</li>
            <li>Voo de Parapente</li>
            <li>Passeio de barco pelo Rio Jaguaribe</li>
            <li>Passeio de jangada pela orla de Canoa</li>
          </ul>
          <p>Aconselhamos durante o dia, fazer passeios ou somente curtir à praia. A noite não deixem de curtir a Broadway, que é a rua principal e onde fica toda vida noturna de Canoa.</p>
        </div>
      </div>
    </section>






    <section>
      <div class="wrapper">
        <img alt="mapa" class="stretch" src="images/map.jpg"/>
        <div class="onecol"> 
          <p class="center">Os hotéis em Canoa Quebrada variam entre 35 a 250 R$/diária. Aqui uma lista das opções de <a href="http://www.portalcanoaquebrada.com.br/canoa_quebrada_pousadas.htm">hotéis</a>.
          </p>        
        </div>
      </div>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&callback=initialize"></script>
    <script src="/js/maps-ck.js"></script>
    <script src="/js/maps.js"></script>

    @@include('partials/_footer.html')

  </body>
</html>