<!DOCTYPE html>
<html class="no-js">

  @@include('partials/_head.html', {
    "title": "Sposi"
  })

  <body>
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->

    <header class="header">
      <h1 class="hidden">Matteo &amp; Thamiris se casam</h1>

      <img alt="I Borgato" src="/images/header-noi.png">
      <img class="header-image" alt="I Borgato" src="/images/cisposiamo-title.png">

      <div id="player-wrapper">
        <div id="player"></div>
      </div>

      <div class="placeholder"></div>
    </header>
    
    <nav>
      <ul>
        <li id="menunav">
          <a class="active" href="/">O Casal</a>
        </li>
        <li id="menunav">
          <a href="/rsvp">RSVP</a>
        </li>
        <li id="menunav">
          <a href="/detalhes">Detalhes</a>
        </li>
        <li id="menunav">
          <a href="/presentes">Presentes</a>
        </li>
      </ul>
    </nav>

    <section class="intro">
      <div class="wrapper">
        <h2>Bem-vindo</h2>
        <div class="twocol">
          <p>
             Aqui você encontrará todas as informações  sobre à nossa festa de casamento. Estamos muito felizes de partilhar essa data especial com você.
          </p>
          <p>
            Nosso casamento será na bela e ensolarada Canoa Quebrada. Não poderiamos pensar em um lugar melhor para comemorar esta ocasião.
          </p>
        </div>
        <div class="twocol">
          <img alt="Bem-vindo!" src="images/welcome.jpg"/>
        </div>
      </div>
    </section>

    <section class="title">
      <div class="va-container">
        <h2 class="va-middle">Ele &amp; Ela</h2>
      </div>
      <img alt="casal" class="stretch" src="images/sguardi.jpg"/>
    </section>

    <section>
      <div class="wrapper">
        <div class="twocol">
          <img alt="casal" class="round pull-left" src="images/matteo.jpg"/>
          <h3 class="profile">Matteo</h3>
          <p>Oi galera! Sou um veneziano amante da tecnologia que passa a maior parte do dia criando coisas no computador. Sonhador, viajante, focado, romântico e batalhador, às vezes dou uma de fotógrafo, karateca e jogador de futebol. 
Meu coração pertence a uma mulher chamada Thamiris.</p> 
          <p class="thoughts thamiris">&hearts; Eu sou dela →</p>
        </div>
        <div class="twocol">
          <img alt="casal" class="round pull-left" src="images/thamiris.jpg"/>
          <h3 class="profile">Thamiris</h3>
          <p>Olá! Sou uma cearense que ama viajar, cozinhar e fotografar. Apaixonada, engraçada, dramática, atrasada e determinada. Sou encantada pela natureza, música, crianças e as  diferentes culturas ao redor do mundo. Tenho um grande amor que se chama Matteo.</p>
          <p class="thoughts">← Eu sou dele &hearts;</p>
        </div>
      </div>
    </section>
  
    <section class="title">
      <div class="va-container">
        <h2 class="va-middle">Onde tudo começou</h2>
      </div>
      <img class="coaster" src="/images/waterhole.png" alt="Waterhole">
      <img class="stretch" alt="casal" src="/images/waterhole.jpg"/>
    </section>

    <section>
      <div class="wrapper">
        <div class="onecol">
          <p>Thamiris brasileira, Matteo italiano. O destino decide que eles se encontrem em Amsterdam, na Holanda, durante um frio e chuvoso domingo de outono.</p>

          <p>Ele observa-a de longe e pensa que ele nunca viu uma coisa tão linda. Percebendo que a moça se encontra em perigo, corre para o resgate e a salva de um terrível vilão que a incomodava.</p>
          <p>
          E mesmo sem dançar nada, se enche de coragem e a convida para a pista de dança.
          Ela responde com um sorriso e os dois se apaixonam perdidamente, dançando Rock'n'Roll em um pub chamado <strong>"The Last Waterhole"</strong>.</p>
        </div>
      </div>
    </section>

    @@include('partials/_footer.html')
    <script type="text/javascript" src="/js/app.min.js"></script>

  </body>
</html>