<!DOCTYPE html>
<html class="no-js">
  
  @@include('partials/_head.html', {
    "title": "Lista de Presentes"
  })

  <body>
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->

     <header>
      <h1 class="hidden">Matteo &amp; Thamiris si sposano</h1>
      <img alt="I Borgato" src="/images/lista-nozze.jpg">
    </header>

    <nav>
      <ul>
        <li id="menunav">
          <a id="homenav" href="/">O Casal</a>
        </li>
        <li id="menunav">
          <a id="rsvpnav" href="/rsvp">RSVP</a>
        </li>
        <li id="menunav">
          <a id="detailsnav" href="/detalhes">Detalhes</a>
        </li>
        <li id="menunav">
          <a id="registrynav" class="active" href="/presentes">Presentes</a>
        </li>
        <!--li id="menunav">
          <a id="live" href="/video">Video</a>
        </li-->
      </ul>
    </nav>

     <section>
      <div class="wrapper">
        <div class="center">
          <p>Ajude-nos com a nossa <strong>Lua de Mel</strong>, por meio de depósito na conta:</p>
        
          <ul class="bank">
            <li>
              Rita de Cassia da Silva Lunes
            </li>
            <li>
              Banco Bradesco
            </li>
            <li>
              Conta Corrente: 14726-5
            </li>
            <li>
              Agência: 0678-5
            </li>
          </ul>
        </div>
      </div>
    </section>


    @@include('partials/_footer.html')

  </body>
</html>