<!DOCTYPE html>
<html class="no-js">

  @@include('partials/_head.html', {
    "title": "O casal"
  })

  <body>
    
    <figure id="video-container">
      <video id="video" controls autoplay poster="/images/header-noi.png" loop="true" preload="none" poster="img/poster.jpg">
        <source src="https://dl.dropboxusercontent.com/u/1089758/TnM.mp4" type="video/mp4">
        <source src="https://dl.dropboxusercontent.com/u/1089758/TnM.webm" type="video/webm">
        <source src="https://dl.dropboxusercontent.com/u/1089758/TnM.ogv" type="video/ogg">
      </video>
    </figure>

    @@include('partials/_footer.html')
    <script type="text/javascript" src="/js/app.min.js?v1.1"></script>

  </body>
</html>