*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0; height: 100%;}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

body {
  font: 18px/1 "le-havre-rounded", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #41473C;
  background: #F9FEF9 url('/images/bg.png') top left repeat-y;
  font-weight: 200;
}

a {
  color: #3A3F36;
  text-decoration: underline;
  outline: none;
}

a:hover,
a:active {
  color: #333;
}

a img {
  border: none;
}
address {
  color: #555;
  margin: 0;
  padding: 0;
  padding-bottom: 15px;
}

p {
  font-size: 1.5em;
}

.center {
  text-align: center;
}

/* Header Style */
.main,
.container > header {
  margin: 0 auto;
  padding: 2em;
}

.main {
  height: 100%;
}
.container {
  height: 100%;
}

.container > header {
  text-align: center;
  background: rgba(255,255,255,0.2);
}

#header {
  height: 640px;
  overflow: hidden;
}

h1 {
  font-size: 5em;
  font-weight: 400;
  line-height: 1;
  margin: 0;
}

h2 {
  font-size: 7.8em;
  font-family: "penna", serif;
  margin: .1em 0;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

h2.with-line {
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
  text-shadow: 0 0 10px white;
}

ul {
  font-size: 1.5em;
}

.hidden {
  display: none;
}

.centered {
  text-align: center;
}

/* Main Content */
.main {
  max-width: 69em;
  overflow: hidden;
  position: relative;
}

header img {
  max-width: 100%;
  min-width: 320px;
  width: 100%;
  z-index: -9999;
}



.container {
  clear: both;
  height: auto;
  margin: 0 auto;
  padding: 0;
  width: 960px;
}

.container-small {
  clear: both;
  height: auto;
  margin: 0 auto;
  padding: 0 5px;
  width: 500px; 
}

@include respond-to(600) {
  .container-small {
    width: 90%; 
  }
}

section {
  clear: both;
  overflow: hidden;
  position: relative;
  margin: 0;
}

.hr {
  margin-top: 20px;
  padding-top: 75px;
  background: url("/images/line.png") no-repeat scroll center top rgba(0, 0, 0, 0);
}
.hr-1 { 
  border-top: 1px solid rgba(0,0,0,0.2);
  margin-top: 45px;
  padding-top: 45px;
}

.threecol {
  float: left;
  height: auto;
  margin: 0 10px;
  width: 350px;
}
.threecol p {
  text-align: justify;
  margin: 0;
  margin-bottom: 15px;
}

.twocol {
  float: left;
  height: auto;
  margin: 0 12.5px;
  width: 45%;
  text-align: justify;
  overflow: hidden;
  img {
    vertical-align: top;
    margin-top: 30px;
  }
  p {
    margin-top: .3em;
  }
}

.onecol {
  width: 95%;
  margin: 0 auto;
}

.left-title {
  float: left;
  height: auto;
  margin: 0 10px;
  width: 160px;
  font-family: "penna", serif;
  span {
    display: block;
  }
  h3 {
    color: #7E8B75;
    line-height: 1;
    font-size: 2.6em;
    padding-top: .025em;
  }
}

.right-image {
  float: right;
}

.border {
  border: 5px solid #F5C286;
  margin-top: 10px;
  overflow: hidden;
}
.count {
  text-align: center;
  position: relative;
  top: -13px;
}


.definition {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3) inset;
  padding: 10px 20px;
  margin-bottom: 25px; 
}
.definition ul {
  list-style: none;
}
.bank {
  list-style: none;
  background: rgba(0,0,0,0.05);
  border-radius: .2em;
  width: 75%;
  margin: 0 auto;
  padding: 0;
  li {
    padding: 10px 0;
    font-size: 1.05em;
  }
}

i {
  font-style: italic;
}


.profile {
  margin: 25px 25px 25px 120px;
}

.thoughts {
  font-style: italic;
  color: rgba(0, 0, 0, 0.3);
}
.thamiris {
  text-align: right;
}

#arrows {
  background: url("../images/arrows-br.png");
  width: 180px;
  height: 200px;
  margin: 10px auto;
}

#shoes {
  color: rgba(0,0,0,0.4);
  background: #D2E8C3;
  padding: 15px 0;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
  width: 100%;
  font-family: "penna", serif;
  font-size: 4.5em;
}

footer {
  margin-bottom: 40px;
  clear: both;
}

#details {

  header {
    height: 640px;
  }

  .content{
      position:absolute;
      top: 40px;
      right: 20px;
      padding: 0.2em 1.5em;
      background: rgba(255,255,255,0.75);
      border: 1px solid #BBB;
      width: 420px;
      h2 {
        color: #698C4E;
        text-align:center;
        margin: 0;
        padding: 15px 0;
        font-size: 4em;
      }
      p {
          color: #333;
          margin: 0;
          padding: 0;
      }
      .divider {
          background: url(/images/divider.png) center center;
          height: 40px;
          width: 100%;
          position: relative;
          top: -25px;
      }
  }
    
}

.row-first,
.row {
  display: block;
  clear: both;
  overflow: hidden;

}
.row-first {
  margin-bottom: 15px;
}

h3 {
  font-size: 2.4em;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

h4 {
  font-size: 1.5em;
  margin: 20px 0 0 0;
}

#map-canvas {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px
}

#cage {
  background: url('../images/cage.png') no-repeat;
  width: 450px;
  height: 453px;
  position: absolute;
  right: 0;
}


.column {
  float: left;
  width: 50%;
  padding: 0 2em;
  min-height: 300px;
  position: relative;
}

.column:nth-child(2) {
  box-shadow: -1px 0 0 rgba(0,0,0,0.1);
}

.column p {
  font-size: 2em;
  padding: 0;
  margin: 0;
  text-align: right;
  line-height: 1.5;
}


.offset {
  margin-top: 25px;
}


/********************/
.wrapper {
  width: 50%;
  min-width: 335px;
  margin: 50px auto 125px;
  overflow: visible;
  clear: both;
}

.intro {
  text-align: center;
  p {
    font-size: 1.6em;
    line-height: 1.1;
  }
  p:first-child {
    margin-top: 2em;
  }  
}


.stretch {
  max-width: 100%;
  min-width: 450px;
  width: 100%;
}

.va-container {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.va-middle {
  text-align: center;
  font-weight: bold;
  color: #FFF;
}

.round {
  border-radius: 50%;
  border: 5px solid white;
}

.pull-left {
  float: left;
}

section.title {
  margin-top: 150px;
}

.coaster {
  position: absolute;
  right: .2em;
}
@include respond-to(1050) {
  .coaster {
    display: none;
  }
}

header, .header {
  position: relative;
  overflow: hidden;
  min-height: 50vh;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
  }
}
.header-image {
  left: 0;
  position: absolute;
  top: 0;
  z-index: 10;
}

.scroll-down {
  font-size: 4em;
  left: 2.5%;
  top: 5%;
  position: absolute;
  animation: fadeIn 10s 5s 5;
  -moz-animation: fadeIn 10s 5s 5;
  -webkit-animation: fadeIn 10s 5s 5;
  -o-animation: fadeIn 10s 5s 5;
  z-index: 100;
  a {
    text-decoration: none;
    background: url("/images/arrow-down.png") center center no-repeat;
    display: block;
    padding: 23px;
    text-decoration: none;
    border: 5px solid transparent;
  }
  span {
    background: no-repeat scroll 0 0 rgba(255, 255, 255, 0.75);
    border-radius: 0.1em;
    color: #444;
    display: none;
    font-size: 0.32em;
    left: 63px;
    padding: 0.2em 0.4em;
    position: absolute;
    top: 0;
  }
  &:hover span {
    display: block;
  }
  &:hover a {
    border: 5px solid rgba(255, 255, 255, 0.75);
    border-radius: 50%;
  }
}

@include respond-to(1000) {
  header, .header {
    min-height: 20vh;
  }
}

@include respond-to(600) {

  .scroll-down {
    display: none;
  }

  body {
    font-size: 0.8rem;
  }

  h2 {
    font-size: 4.5em;
  }

  #details .content {
    width: 100%;
    left: 0;
    top: 20px;
    background: rgba(255,255,255,0.95);
  }
}

.rvsp {
  .disable {
    display: none;
  }
}

@include respond-to(1000) {
  .left-title {
    float: none;
    display: block;
    width: 100%;
    margin: 25px 0 0 0;
    span {
      display: inline-block;
    }
    h3 {
      padding: 0.8em;
    }
  }
  .threecol {
    float: none;
    margin: 0 auto;
    display: block;
  } 
  .twocol {
    float: none;
    display: block;
    width: 95%;
    margin: 0 auto;
    text-align: center;
  }

  .wrapper {
    margin: 10px auto;
  }

}

#video {
  width: 100%; 
}



@keyframes fadeIn{
  0%{margin-top: 0;}
  10%{margin-top: 10px;}
  20%{margin-top: 0;}
  30%{margin-top: 10px;}
  40%{margin-top: 0;}
  50%{margin-top: 10px;}
  60%{margin-top: 0; }
}

@-moz-keyframes fadeIn{
  0%{margin-top: 0;}
  10%{margin-top: 10px;}
  20%{margin-top: 0;}
  30%{margin-top: 10px;}
  40%{margin-top: 0;}
  50%{margin-top: 10px;}
  60%{margin-top: 0; }
}

@-webkit-keyframes fadeIn{
  0%{margin-top: 0;}
  10%{margin-top: 10px;}
  20%{margin-top: 0;}
  30%{margin-top: 10px;}
  40%{margin-top: 0;}
  50%{margin-top: 10px;}
  60%{margin-top: 0; }
}

@-o-keyframes fadeIn{
  0%{margin-top: 0;}
  10%{margin-top: 10px;}
  20%{margin-top: 0;}
  30%{margin-top: 10px;}
  40%{margin-top: 0;}
  50%{margin-top: 10px;}
  60%{margin-top: 0; }
}
