*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0; height: 100%;}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

body {
  font-family: 'Lato', Calibri, Arial, sans-serif;
  color: #777;
  background: #fff8e8;
}

a {
  color: #555;
  text-decoration: none;
  outline: none;
}

a:hover,
a:active {
  color: #777;
}

a img {
  border: none;
}
address {
  color: #555;
  margin: 0;
  padding: 0;
  padding-bottom: 15px;
}
/* Header Style */
.main,
.container > header {
  margin: 0 auto;
  padding: 2em;
}

.main {
  height: 100%;
}
.container {
  height: 100%;
}

.container > header {
  text-align: center;
  background: rgba(255,255,255,0.2);
}

h1, h2, h2 {
  font-family: 'Mountains of Christmas',cursive;
}

h1 {
  font-size: 7em;
  font-weight: 400;
  line-height: 1;
  margin: 0;
}

h2 {
  font-size: 5.2em;
}

.container > header span {
  display: block;
  font-size: 60%;
  opacity: 0.5;
  padding: 0;
}

.hidden {
  display: none;
}

/* Main Content */
.main {
  max-width: 69em;
  overflow: hidden;
  position: relative;
}

header img {
  max-width: 100%;
  width: 100%;
  z-index: -9999;
}

#zag {
  background-image: url("../images/zag.png");
  background-repeat: repeat-x;
  height: 25px;
  width: 100%;
  position: relative;
  top: 43px;
  z-index: -1;
 }

nav {
  background: #fff8e8;
  font-family: sans-serif;
  font-size: 26px;
  font-weight: 400;
  height: auto;
  letter-spacing: -0.03em;
  line-height: 26px;
  margin: 0 auto;
  padding: 20px 0 50px 0;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Fjalla One', sans-serif;
  width: 580px;
}
nav > ul {
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav a {
  color: #333;
  margin: 0 7px;
}

nav a:hover,
nav a.active {
  border-bottom: 5px solid #F5C286;
  color: #222;
}

.container {
  clear: both;
  height: auto;
  margin: 0 auto;
  padding: 0;
  width: 960px;
}

section {
  clear: both;
  overflow: hidden;
}

#welcome {
  background: url("../images/badge.png") repeat scroll center top rgba(0, 0, 0, 0);
  color: #5B4923;
  font-family: 'IM Fell French Canon',serif;
  font-size: 21px;
  font-style: italic;
  height: 430px;
  letter-spacing: 0.04em;
  line-height: 30px;
  margin: 0 auto;
  padding: 88px 139px;
  text-align: center;
  width: 706px;
}

.twocol {
  float: left;
  height: auto;
  margin: 0 10px;
  width: 460px;
}

.count {
  height: 151px;
  padding: 12px 0 0;
  width: 227px;
  height: 328px;
  float: right;
  margin: 0 10px;
  width: 220px;
  text-align: center;
  position: relative;
}
#cntdwn {
  background: none;
  bottom: 75px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  width: 100%;
}

.count h4 {
  font-size: 40px;
}
.count h5 {
  font-size: 28px;
}
.count h4,
.count h5 {
  padding: 0;
  margin: 0;
  font-family: 'IM Fell English SC', serif;
  color: #5B4923;
}


.profile {
  color: #333;
}

#arrows {
  background: url("../images/arrows.png");
  width: 180px;
  height: 200px;
  margin: 10px auto;
 }



.column {
  float: left;
  width: 50%;
  padding: 0 2em;
  min-height: 300px;
  position: relative;
}

.column:nth-child(2) {
  box-shadow: -1px 0 0 rgba(0,0,0,0.1);
}

.column p {
  font-weight: 300;
  font-size: 2em;
  padding: 0;
  margin: 0;
  text-align: right;
  line-height: 1.5;
}

/* To Navigation Style */
.codrops-top {
  background: #fff;
  background: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
  width: 100%;
  font-size: 0.69em;
  line-height: 2.2;
}

.codrops-top a {
  padding: 0 1em;
  letter-spacing: 0.1em;
  color: #888;
  display: inline-block;
}

.codrops-top a:hover {
  background: rgba(255,255,255,0.95);
  color: #333;
}

.codrops-top span.right {
  float: right;
}

.codrops-top span.right a {
  float: left;
  display: block;
}

.codrops-icon:before {
  font-family: 'codropsicons';
  margin: 0 4px;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.codrops-icon-drop:before {
  content: "\e001";
}

.codrops-icon-prev:before {
  content: "\e004";
}

.codrops-icon-archive:before {
  content: "\e002";
}

.codrops-icon-next:before {
  content: "\e000";
}

.codrops-icon-about:before {
  content: "\e003";
}

/* Demo Buttons Style */
.codrops-demos {
  padding-top: 1em;
  font-size: 0.9em;
}

.codrops-demos a {
  display: inline-block;
  margin: 0.2em;
  padding: 0.45em 1em;
  background: #999;
  color: #fff;
  font-weight: 700;
  border-radius: 2px;
}

.codrops-demos a:hover,
.codrops-demos a.current-demo,
.codrops-demos a.current-demo:hover {
  opacity: 0.6;
}

.codrops-nav {
  text-align: center;
}

.codrops-nav a {
  display: inline-block;
  margin: 20px auto;
  padding: 0.3em;
}

/* Demo Styles */

#weather {
  width: 30%;
  text-align: center;
  margin: 0 auto;
}
#weather .temperatura,
#weather img {
  padding: 0 15px;
  margin: 0;
  display: inline-block;
  vertical-align: middle;
  font-size: 4em;
  font-family: Lato, Arial, sans-serif;
}

@media screen and (max-width: 46.0625em) {
  .column {
    width: 100%;
    min-width: auto;
    min-height: auto;
    padding: 1em; 
  }

  .column p {
    text-align: left;
    font-size: 1.5em;
  }

  .column:nth-child(2) {
    box-shadow: 0 -1px 0 rgba(0,0,0,0.1);
  }
}

@media screen and (max-width: 25em) {

  .codrops-icon span {
    display: none;
  }

}