.window:nth-child(1){
    background: url("../images/test.jpg") repeat scroll 0 0 / cover;
    .content{
        overflow: hidden;
        position:absolute;
        top:50%;
        width:100%;
        margin-top:-170px;
    }
    .divider {
       background: url(../images/divider1.png) center center;
            height: 40px;
            width: 100%;
            position: relative;
            top: -25px;
        }
}

// luogo
#luogo{
    .content{
        position:absolute;
        top:10%;
        left:2%;
        padding: 0.2em 1.5em;
        background: rgba(255,255,255,0.85);
        border: 1px solid #BBB;
        width: 350px;
        box-shadow: 1px 1px 5px rgba(0,0,0,0.50), 0 0 16px #D4DBAF inset;
        h2{
            color: #98B4CA;
            text-align:center;
            margin: 0;
            padding: 0;
        }
        p {
            color: $dark-gray;
            margin: 0;
            padding: 0;
        }
        .divider {
            background: url(../images/divider.png) center center;
            height: 40px;
            width: 100%;
            position: relative;
            top: -25px;
        }
    }
}

// orario
#orario{
    .content{
        position:absolute;
        top:50%;
        width:100%;
        margin-top:-230px;
        h2 {
            text-align:center;
            color: rgba(65, 65, 65, 0.7);
            margin-top: 0;
            padding: 0;
        }
        .explanation{
            color:$dark-gray;
            font-size:1.4em;
            text-align:center;
            padding:0 15%;
        }
    }
}

//nozze
#nozze{
    background: #333 url(../images/vertical_cloth.png);
    .content{
        position:absolute;
        top:50%;
        width:100%;
        margin-top:-230px;
        h2{
            text-align:center;
            margin: 0;
        }
        .explanation{
            margin-top: 7%;
            color:$light-gray;
            font-size:1.4em;
            text-align:center;
            padding:0 10%;
            li{
                color:$light-gray;
            }
        }
        .bergamot {
            top: -50px;
        }
    }
}


#contatti{
    .content{
        position:absolute;
        top:50%;
        left:50%;
        margin:-350px 0 0 -450px;
    }
    h2{
        text-align:center;
        color:$dark-gray;
    }
    .explanation{
        color:$dark-gray;
        font-size:1.4em;
        text-align:center;
        padding:0 15%;
    }
}
